<main>
    <div class="password-container">
        <label for="password">Password:</label>
        <input placeholder="Enter your password" type="password" id="password" [(ngModel)]="password" (input)="checkPasswordStrength()">
      </div>
      
      <div class="strength-indicators">
        <div class="indicator" [ngClass]="{ 'gray': passwordStrength === 'Empty', 'red': passwordStrength === 'Short' || passwordStrength === 'Weak', 'yellow': passwordStrength === 'Medium', 'green': passwordStrength === 'Strong' }"></div>
        <div class="indicator" [ngClass]="{ 'gray': passwordStrength === 'Empty' || passwordStrength === 'Weak', 'red': passwordStrength === 'Short', 'yellow': passwordStrength === 'Medium', 'green': passwordStrength === 'Strong' }"></div>
        <div class="indicator" [ngClass]="{ 'gray': passwordStrength === 'Empty' || passwordStrength === 'Weak' || passwordStrength === 'Medium', 'red': passwordStrength === 'Short', 'green': passwordStrength === 'Strong' }"></div>
      </div>
</main>

