main {
    margin: 20px;
    padding: 20px;
    background-color: bisque;
    border: solid black 1px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.password-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.strength-indicators {
    display: flex;
    margin-top: 10px;
    gap: 5px;
}

.indicator {
    background-color: gray;
    flex: 1;
    height: 10px;
}

.gray {
    background-color: gray;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}
  